USE [master]
GO
/****** Object:  Database [QLDuLich]    Script Date: 7/5/2020 1:58:18 PM ******/
CREATE DATABASE [QLDuLich]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDuLich', FILENAME = N'C:\Users\Allviss\Desktop\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLDuLich.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDuLich_log', FILENAME = N'C:\Users\Allviss\Desktop\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLDuLich_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDuLich].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDuLich]
GO
/****** Object:  Table [dbo].[ChiTietDon]    Script Date: 7/5/2020 1:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDon](
	[idChiTiet] [int] IDENTITY(0,1) NOT NULL,
	[idDon] [int] NULL,
	[soNguoiLon] [int] NULL,
	[soTreEm] [int] NULL,
	[tongTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatTour]    Script Date: 7/5/2020 1:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatTour](
	[idDon] [int] IDENTITY(0,1) NOT NULL,
	[ngayDat] [date] NULL,
	[trangthai] [int] NULL,
	[idKhachHang] [int] NULL,
	[ten] [nvarchar](100) NULL,
	[diaChi] [nvarchar](100) NULL,
	[sdt] [varchar](10) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiThieu]    Script Date: 7/5/2020 1:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiThieu](
	[idDecription] [int] IDENTITY(0,1) NOT NULL,
	[idTour] [int] NULL,
	[gioiThieu] [varchar](500) NULL,
	[timeline] [nvarchar](100) NULL,
	[hinh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDecription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTour]    Script Date: 7/5/2020 1:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTour](
	[idLoaiTour] [int] NOT NULL,
	[tenLoaiTour] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idLoaiTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 7/5/2020 1:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[taiKhoan] [varchar](10) NULL,
	[matKhau] [varchar](10) NULL,
	[idPhanQuyen] [int] NULL,
	[ten] [nvarchar](30) NULL,
	[ngaySinh] [date] NULL,
	[sdt] [varchar](10) NULL,
	[diaChi] [nvarchar](100) NULL,
	[email] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 7/5/2020 1:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[id] [int] NOT NULL,
	[loaiQuyen] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 7/5/2020 1:58:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[idTour] [int] IDENTITY(0,1) NOT NULL,
	[tenTour] [nvarchar](100) NULL,
	[lichTrinh] [nvarchar](100) NULL,
	[khoiHanh] [nvarchar](100) NULL,
	[soNgay] [int] NULL,
	[soDem] [int] NULL,
	[phuongTien] [nvarchar](100) NULL,
	[khachSan] [nvarchar](100) NULL,
	[idLoaiTour] [int] NULL,
	[soLuong] [int] NULL,
	[giaTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDon]  WITH CHECK ADD FOREIGN KEY([idDon])
REFERENCES [dbo].[DonDatTour] ([idDon])
GO
ALTER TABLE [dbo].[DonDatTour]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[NguoiDung] ([id])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([idPhanQuyen])
REFERENCES [dbo].[PhanQuyen] ([id])
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD FOREIGN KEY([idLoaiTour])
REFERENCES [dbo].[LoaiTour] ([idLoaiTour])
GO
USE [master]
GO
